---
const today = new Date();
---

<footer class="bg-[#CEF3F5] border-t border-gray-100">
	<div class="container mx-auto px-4 py-12">
		<div class="text-center">
			<img 
				src="/images/logo-nutschool.png" 
				alt="NutSchool Logo" 
				class="h-12 mx-auto mb-6"
			/>
			<p class="text-gray-600">&copy; {today.getFullYear()} NutSchool. All rights reserved.</p>
		</div>
	</div>
</footer>
